<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/tx 
		        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- Beans Declaration -->
    <bean id="vehicle" class="com.cabtest.model.Vehicle"/>
    <bean id="driver" class="com.cabtest.model.Driver"/>
    <bean id="booking" class="com.cabtest.model.Booking"/>
    <bean id="customer" class="com.cabtest.model.Customer"/>
    <bean id="billing" class="com.cabtest.model.Billing"/>
    <bean id="driverVehicle" class="com.cabtest.model.DriverVehicle"/>
    <bean id="driverAvailability" class="com.cabtest.model.DriverAvailability"/>
    <bean id="vehicleAvailability" class="com.cabtest.model.VehicleAvailability"/>
    <bean id="distanceMatrix"      class="com.cabtest.model.DistanceMatrix"/>
    <bean id="location"  class="com.cabtest.model.Location"/>

    <!-- Service Declaration -->
    <bean id="vehicleService" class="com.cabtest.service.VehicleRegisterServiceImpl">
        <property name="vehicleDAO" ref="vehicleDAO"/>
    </bean>

    <bean id="driverService" class="com.cabtest.service.DriverRegisterServiceImpl">
        <property name="driverDAO" ref="driverDAO"/>
        <property name="contactDAO" ref="contactDAO"/>
    </bean>

    <bean id="bookingService" class="com.cabtest.service.BookingRegisterServiceImpl">
        <property name="bookingDAO" ref="bookingDAO"/>
        <property name="customerDAO" ref="customerDAO"/>
        <property name="contactDAO" ref="contactDAO"/>
    </bean>

    <bean id="billingService" class="com.cabtest.service.BillingRegisterServiceImpl">
        <property name="billingDAO" ref="billingDAO"/>
    </bean>

    <bean id="driverVehicleService" class="com.cabtest.service.DriverVehicleServiceImpl">
        <property name="driverVehicleDAO" ref="driverVehicleDAO"/>
    </bean>

    <bean id="driverAvailabilityService" class="com.cabtest.service.DriverAvailabilityServiceImpl">
        <property name="driverAvailabilityDAO" ref="driverAvailabilityDAO"/>
    </bean>

    <bean id="vehicleAvailabilityService" class="com.cabtest.service.VehicleAvailabilityServiceImpl">
        <property name="vehicleAvailabilityDAO" ref="vehicleAvailabilityDAO"/>
    </bean>

    <bean id="distanceMatrixService" class="com.cabtest.service.DistanceMatrixServiceImpl">
        <property name="distanceMatrixDAO" ref="distanceMatrixDAO"/>
    </bean>

    <bean id="locationService" class="com.cabtest.service.LocationServiceImpl">
        <property name="locationDAO" ref="locationDAO"/>
    </bean>



    <!-- DAO Declaration -->
    <bean id="vehicleDAO" class="com.cabtest.dao.VehicleDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="driverDAO" class="com.cabtest.dao.DriverDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="contactDAO" class="com.cabtest.dao.ContactDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="bookingDAO" class="com.cabtest.dao.BookingDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="customerDAO" class="com.cabtest.dao.CustomerDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="billingDAO" class="com.cabtest.dao.BillingDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="driverVehicleDAO" class="com.cabtest.dao.DriverVehicleDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="driverAvailabilityDAO" class="com.cabtest.dao.DriverAvailabilityDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="vehicleAvailabilityDAO" class="com.cabtest.dao.VehicleAvailabilityDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="distanceMatrixDAO" class="com.cabtest.dao.DistanceMatrixDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="locationDAO" class="com.cabtest.dao.LocationDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <!-- Data Source Declaration -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/cab"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
        <property name="maxPoolSize" value="10"/>
        <property name="maxStatements" value="0"/>
        <property name="minPoolSize" value="5"/>
    </bean>

    <!-- Session Factory Declaration -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.cabtest.model.Person</value>
                <value>com.cabtest.model.Vehicle</value>
                <value>com.cabtest.model.Driver</value>
                <value>com.cabtest.model.Contact</value>
                <value>com.cabtest.model.Booking</value>
                <value>com.cabtest.model.Customer</value>
                <value>com.cabtest.model.Billing</value>
                <value>com.cabtest.model.DriverVehicle</value>
                <value>com.cabtest.model.DriverAvailability</value>
                <value>com.cabtest.model.VehicleAvailability</value>
                <value>com.cabtest.model.DistanceMatrix</value>
                <value>com.cabtest.model.Location</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="txManager"/>

    <!-- Transaction Manager is defined -->
    <bean id="txManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>
